/* GENERAL */
body {
  margin: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SETTINGS */
.settings {
  margin: 1em;
}

.buttons {
  margin: 0.4em;
}

.button {
  border: 1px solid black;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin: 0.1em;
}

.button.selected {
  height: 26px;
  width: 26px;
  border: 3px solid darkgrey;
}

.button.black {
  background-color: black;
}

.button.gray {
  background-color: gray;
}

.button.red {
  background-color: red;
}

.button.orange {
  background-color: orange;
}

.button.blue {
  background-color: blue;
}

.button.blueviolet {
  background-color: blueviolet;
}

.button.brown {
  background-color: brown;
}

.button.yellow {
  background-color: yellow;
}

.button.green {
  background-color: green;
}

.button.white {
  background-color: white;
}

.size {
  display: block;
  background-color: black;
  border-radius: 50%;
}

.size.one {
  width: 3px;
  height: 3px;
}

.size.three {
  width: 6px;
  height: 6px;
}

.size.five {
  width: 9px;
  height: 9px;
}

.size.seven {
  width: 11px;
  height: 11px;
}

.size.nine {
  width: 13px;
  height: 13px;
}

/* WORDCHANGER */
.word {
  font-size: 2em;
  font-weight: bold;
}

/* BOARD */
.board {
  margin: 1em;
}

.canvas {
  border: 3px solid black;
  background: #fff;
  width: 100%;
  height: auto;
  max-height: 475px;
  max-width: 800px;
}
